{% extends 'base_plotly.html' %}

{% block filters %}
<script>
    function DisplayRelevant() {
        var Algorithm = document.getElementById("algorithm");
        var Weight = document.getElementById("weight");
        Weight.style.display = algorithm.value == "Louvain" ? "block" : "none";
    }
</script>
<form class="row">
    <div class="col">
        <div class="input-group input-group-outline my-3">
            <label class="form-label">Day</label>
            <input type="day" name="day" class="form-control text-white">
        </div>
    </div>
    <div class="col">
        <select class="form-select btn-outline-light bg-gray-800 mt-3" name="algorithm" id="algorithm"
        onchange="DisplayRelevant()">
            <option value="Louvain">Louvain</option>
            <option value="Euclidian k-mean">Euclidian k-mean</option>
        </select>
    </div>
    <div class="col">
        <select class="form-select btn-outline-light bg-gray-800 mt-3" name="weight" id="weight">
            <option value="mileage">Mileage</option>
            <option value="total_travels">Total travels</option>
        </select>
    </div>
    <div class="col">
        <select class="form-select btn-outline-light bg-gray-800 mt-3" name="adv_legend" id="adv_legend">
            <option value="false">Disable advanced legend</option>
            <option value="true">Enable advanced legend</option>
        </select>
    </div>
    <div class="col">
        <button class="btn btn-outline-light mt-3 text-bold" type="submit">Compute</button>
    </div>
</form>
{% endblock %}