{% extends 'base_plotly.html' %}

<!--Filters for the correlation service including:
-Day
-Average-neighbour-degree histogram
-->
{% block filters %}
<form class="row">
    <div class="col max-width-200">
        <div class="input-group input-group-outline my-3">
            <label class="form-label">Day</label>
            <input type="number" name="day" class="form-control text-white">
        </div>
    </div>
    <div class="col">
        <div class="form-check form-select btn-outline-light bg-gray-800 mt-3 ps-2">
            <input class="form-check-input ms-auto " type="checkbox" value="true" name="neighbor" id="check">
            <label class="form-check-label  mb-0 text-white" for="check">Show Average Neighbor Degree Histogram</label>
        </div>
    </div>
    <div class="col">
        <button class="btn btn-outline-light mt-3 text-bold" type="submit">Compute</button>
    </div>
</form>
{% endblock %}
