{% extends 'base_plotly.html' %}

{% block filters %}
<form class="row">
    <div class="col">
        <select class="col form-select btn-outline-light bg-gray-800 mt-3" name="component" id="component">
            <option value="nodes">Nodes only</option>
            <option value="edges">Edges only</option>
            <option value="nodes_and_edges">Nodes and Edges</option>
        </select>
    </div>
    <div class="col">
        <div class="input-group input-group-outline my-3">
            <label class="form-label">Day</label>
            <input type="day" name="day" class="form-control text-white">
        </div>
    </div>
    <div class="col max-width-200">
        <button class="btn btn-outline-light mt-3 text-bold" type="submit">Compute</button>
    </div>
</form>
{% endblock %}