{% extends 'base_plotly.html' %}

{% block filters %}
<script>
    function DisplayRelevant() {
        var Component = document.getElementById("component");
        var deg_cent = document.getElementById("deg_cent");
        var bet_cent = document.getElementById("bet_cent");
        var clos_cent = document.getElementById("clos_cent");
        deg_cent.style.display = component.value == "node" ? "block" : "none";
        bet_cent.style.display = component.value == "node" ? "block" : "none";
        clos_cent.style.display = component.value == "node" ? "block" : "none";
    }
</script>
<form class="row">
    <div class="col">
        <div class="input-group input-group-outline my-3">
            <label class="form-label">Day</label>
            <input type="day" name="day" class="form-control text-white">
        </div>
    </div>
    <div class="col">
        <select class="form-select btn-outline-light bg-gray-800 mt-3 ps-2" name="component" id="component"
                onchange="DisplayRelevant()">
            <option value="node">Node</option>
            <option value="edge">Edge</option>
        </select>
    </div>
    <div class="col">
        <select class="col form-select btn-outline-light bg-gray-800 mt-3 ps-2" name="metric" id="metric">
            <option value="total_minutes">Total minutes</option>
            <option value="total_passages">Total passages</option>
            <option id="deg_cent" value="degree_centrality">Degree Centrality</option>
            <option id="bet_cent" value="betweenness_centrality">Betweenness Centrality</option>
            <option id="clos_cent" value="closeness_centrality">Closeness Centrality</option>
        </select>
    </div>
    <div class="col">
        <button class="btn btn-outline-light mt-3 text-bold" type="submit">Compute</button>
    </div>
</form>
{% endblock %}