<!-- DISCLAIMER
This code is only an example and is subject to be replaced/removed.
Feel free to use it as inspiration while it is still alive.
-->

{% extends 'base.html' %}

{% block graph %}

{% endblock %}

{% block textform %}
    <div class="card bg-gray-800" id="basic-info">
        <div class="card-header bg-gray-300">
            {% block mytitle %}
                <h5>Plot with parameters</h5>
            {% endblock %}
        </div>
        <p class="text-white m-2">exp(-t) * cos(a * pi * t) - b</p>
        <form class="m-2">
            <input type="a" name="a" id="a" class="form-control bg-gray-700 mt-1" placeholder=" a">
            <input type="b" name="b" id="b" class="form-control bg-gray-700 mt-1" placeholder=" b" onfocus="focused(this)" onfocusout="defocused(this)">
            <select class ="form-select bg-gray-700 mt-1 text-white" name="mycolor" id="mycolor">
                <option value="b">Blue</option>
                <option value="g">Green</option>
                <option value="r">Red</option>
                <option value="y">Yellow</option>
                <option value="m">Magenta</option>
                <option value="c">Cyan</option>
            </select>
            <button class="btn btn-sm btn-outline-light mt-3" type="submit">Compute</button>
        </form>
    </div>
{% endblock %}