{% extends 'base_plotly.html' %}

{% block filters %}
<form class="row">
    <div class="col">
        <div class="input-group input-group-outline my-3">
            <label class="form-label">Day</label>
            <input type="number" name="day" class="form-control text-white">
        </div>
    </div>
    <div class="col">
        <select class="form-select btn-outline-light bg-gray-800 mt-3 ps-2" name="strategy" id="strategy">
            <option value="targeted">Targeted</option>
            <option value="random">Random</option>
        </select>
    </div>
    <div class="col">
        <select class="form-select btn-outline-light bg-gray-800 mt-3 ps-2" name="component" id="component">
            <option value="node">Node</option>
            <option value="edge">Edge</option>
        </select>
    </div>
    <div class="col">
        <select class="col form-select btn-outline-light bg-gray-800 mt-3 ps-2" name="metric" id="metric">
            <option value="degree_centrality">Degree centrality</option>
            <option value="betweenness_centrality"> Betweenness centrality</option>
        </select>
    </div>
    <div class="col">
        <div class="input-group input-group-outline my-3">
            <label class="form-label">Fraction (i.e. 0.01)</label>
            <input type="number" name="fraction" class="form-control text-white">
        </div>
    </div>
    <div class="col">
        <button class="btn btn-outline-light mt-3 text-bold" type="submit">Compute</button>
    </div>
</form>
{% endblock %}