{% extends 'base_plotly.html' %}

{% block filters %}
<form class="row">
    <div class="col max-width-200">
        <div class="input-group input-group-outline my-3">
            <label class="form-label">Day</label>
            <input type="day" name="day" class="form-control text-white">
        </div>
    </div>
    <div class="col">
        <div class="input-group input-group-outline my-3">
            <label class="form-label">Number of random starting nodes for shortest path length (may take a little while)</label>
            <input type="nb_start" name="nb_start" class="form-control text-white">
        </div>
    </div>
    <div class="col max-width-200">
        <button class="btn btn-outline-light mt-3 text-bold" type="submit">Compute</button>
    </div>
</form>
{% endblock %}